a {
    color: #ff8800;
}

a:hover {
    color: #aa5c03;;
    text-decoration: none;
}

/*map*/
#mapid { 
    height: 60vh;
    max-height: 50%; 
    margin-bottom: 1rem;
}
.leaflet-popup {
    font-size: 125%;
}

.leaflet-popup a {
    color: #ff8800;
}

.leaflet-popup a:hover {
    text-decoration: none;
    color: #aa5c03;
}


/* Menu */
.sidebar-brand-icon img {
    max-width: 60%;
}

.bg-gradient-primary {
    background-color: #ff8800 !important;
    background-image: none !important;
}

.sidebar-heading {
    word-break: break-all;
}

/* Cards */
.border-left-primary {
    border-left: 0.25rem solid #ff8800 !important;
}

.border-left-warning {
    border-left: 0.25rem solid rgb(160, 0, 0) !important;
}

.text-primary {
    color: #ff8800 !important;
}

#wrapper #content-wrapper {
    overflow-x: inherit !important;
}

.single .card {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    border-left: 0.25rem solid #ff8800;
    margin-bottom: 0.25rem;
}

.card-single {
    width: 100% !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    border-left: 0.25rem solid #ff8800;
    margin-bottom: 0.25rem;
}

.search {
    margin-bottom: 1rem;
}
.search .card-header {
    background-color: #ff8800;
    color: white !important;
}

.orange-header {
    background-color: #ff8800;
    color: white !important;
    border-left: none !important;
    border-radius: 0;
}

.search h6 {
    color: white !important;
}
.search .card-header:after {
    color: white !important;
}

.search label {
    font-weight: 700;
    font-size: 80%;
}

.search input, .search textarea, .search select {
    margin-bottom: 0.7rem;
}

.searchform {
    display: flex;
    flex-wrap: wrap;
}

.card-header .btn {
    display: block;
    padding: 0.2rem;
}

.bg-lightred {
    background: #fad9d9 !important;
    border: none !important;
}

.bg-lightblue {
    background: #dbe8ff !important;
    border: none !important;
}

.bg-lightgreen {
    background: #dffde8 !important;
    border: none !important;
}

.bg-lightgrey {
    border: none !important;
}

.search {
    border-left: none !important;
}

.search .card-body {
    border-left: 0.25rem solid #ff8800;
}

.bg-primary {
    background-color: #ff8800 !important;
}

.success {
    width: 100%;
    padding:3rem;
    font-size: 150%;
    font-weight: 700;
    color: white;
    background:#017c04;
    text-align: center;
    border-radius: 10px;
}

.fail {
    width: 100%;
    padding:3rem;
    font-size: 150%;
    font-weight: 700;
    color: white;
    background:#990000;
    text-align: center;
    border-radius: 10px;
}

.noborder {
    border: none !important;
}

.card-header h6 {
    font-size: 130%;
}

/* Texts */
.text-centered {
    text-align: center !important;
}

.padded {
    padding: 1rem;
}

/* Forms */
form input {
    border-radius: 4px;
    border: 1px solid lightgrey;
    padding: 0.3rem;
}
form select {
    border-radius: 4px;
    border: 1px solid lightgrey;
    padding: 0.3rem;
}

/* Archive */

.upl {

    text-align: center;
}

.upl label {
    font-weight: 800;
    margin-top: 0.5rem;
}

.upl input {
    background-color: white;
    color: black;
    
}

.upl textarea {
    background-color: white;
    color: black;
    border-radius: 4px;
    min-width: 40%;
}